<p style="color: green"><%= notice %></p>

<h1>List routes</h1>

<div>
  <% @routes.each do |route| %>
    <%= route.title %>
    <p>
      <%= link_to "Show", admin_route_path(route) %> |
      <%= link_to "Update", edit_admin_route_path(route) %>
      <%= button_to 'Delete', { action: :destroy, id: route.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_admin_route_path %>
