<div class=" center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @route.title %>
  </p>
  <p>Stations:</p>
  <table class="center">
    <thead>
    <tr>
      <td width="100px"><b>Title</b></td>
      <td><b>Position</b></td>
      <td><b>Departure/Arrival time</b></td>
    </tr>
    </thead>
    <tbody>
    <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><%= station.title %></td>
        <td>
          <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
            <%= number_field_tag :position, station.position_in(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag 'Update position' %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_station_time_admin_railway_station_path(station), method: :patch do %>
            <%= text_field_tag :departure_time, station.departure_time_in(@route) %>
            <%= text_field_tag :arrival_time, station.arrival_time_in(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag 'Update time' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render 'list_stations_and_trains' %>
  <%= link_to 'Edit', edit_admin_route_path(@route) %> |
  <%= link_to 'Back', admin_routes_path %>
</div>