<div>
  <h1>Ticket #<%= @ticket.id %></h1>
  <p>First name: <%= @ticket.first_name %></p>
  <p>Last name: <%= @ticket.last_name %></p>
  <p>Train: <%= @ticket.train.number %></p>
  <p>From: <%= @ticket.first_station.title %> - <%= @ticket.first_station.arrival_time_in(@ticket.train.route) %></p>
  <p>To: <%= @ticket.last_station.title %> - <%= @ticket.last_station.departure_time_in(@ticket.train.route) %></p>
  <%= link_to 'Delete ticket', ticket_path, method: :delete %>
  <%= link_to 'Back to trains', trains_on_route_route_path(@ticket.train.route) %>
  <%= link_to 'Buy another ticket', new_train_ticket_path(@ticket.train) %>
</div>