<%= form_with(model: carriage) do |form| %>
  <% if carriage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(carriage.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% carriage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :carriage_type %>
    <%= form.select(:carriage_type, options_for_select([['Compartment'], ['Berth']])) %>
  </div>

  <div>
    <%= form.label :top_seats %>
    <%= form.number_field :top_seats %>
  </div>
  <div>
    <%= form.label :bottom_seats %>
    <%= form.number_field :bottom_seats %>
  </div>

  <div>
    <%= form.label 'Train number:' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
