<%= form_for [@train, @carriage.becomes(Carriage)] do |form| %>
  <% if carriage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(carriage.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% carriage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type %>
    <%= form.select(:type, Carriage::CARRIAGE_TYPES, selected: @carriage.type || 'DefaultCarriage') %>
  </div>

  <div>
    <%= form.label :top_seats %>
    <%= form.number_field :top_seats %>
  </div>
  <div>
    <%= form.label :bottom_seats %>
    <%= form.number_field :bottom_seats %>
  </div>

  <div>
    <%= form.label :side_top_seats %>
    <%= form.number_field :side_top_seats %>
  </div>
  <div>
    <%= form.label :side_bottom_seats %>
    <%= form.number_field :side_bottom_seats %>
  </div>
  <div>
    <%= form.label :sitting_seats %>
    <%= form.number_field :sitting_seats %>
  </div>

  <div>
    <%= form.label 'Train number:' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
