<p style="color: green"><%= notice %></p>

<h1>List railway stations</h1>

<div id="railway_stations">
  <% @railway_stations.each do |railway_station| %>
    <%= render railway_station %>
    <p>
      <%= link_to "Show", railway_station %> |
      <%= link_to "Update", edit_railway_station_path(railway_station) %>
      <%= button_to "Delete", railway_station, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_railway_station_path %>
