<p style="color: green"><%= notice %></p>

<%= render @railway_station %>

<div>
  <%= link_to "Update", edit_railway_station_path(@railway_station) %> |
  <%= link_to "Back", railway_stations_path %>

  <%= button_to "Delete", @railway_station, method: :delete %>
</div>
