<p style="color: green"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @carriage.type %>
</p>
<p>
  <strong>Train:</strong>
  <%= @carriage.train.number %>
</p>
<p>
  <strong>Top seats:</strong>
  <%= @carriage.top_seats || 0 %>
</p>
<p>
  <strong>Bottom seats:</strong>
  <%= @carriage.bottom_seats || 0 %>
</p>

<p>
  <strong>Side top seats:</strong>
  <%= @carriage.side_top_seats || 0 %>
</p>
<p>
  <strong>Side bottom seats:</strong>
  <%= @carriage.side_bottom_seats || 0 %>
</p>

<p>
  <strong>Sitting seats:</strong>
  <%= @carriage.sitting_seats || 0 %>
</p>

<%= link_to 'Back', admin_carriages_path %>
