<div class="search center half-w">
  <h1>Search ticket</h1>
  <%= form_tag search_path, method: :get do %>
    <table class="center">
      <thead>
      <tr>
        <td> <%= label_tag :departure_station, 'From' %> </td>
        <td> <%= label_tag :arrival_station, 'To' %> </td>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td> <%= select_tag :departure_station, options_for_select(RailwayStation.all.collect { |s| [s.title, s.id] }) %> </td>
        <td> <%= select_tag :arrival_station, options_for_select(RailwayStation.all.collect { |s| [s.title, s.id] }) %> </td>
      </tr>
      </tbody>

    </table>
    <%= submit_tag 'Search' %>
  <% end %>

  <% if @routes.size > 0 %>
    <table class="center mt-30">
      <thead>
      <tr>
        <td> <b>Route</b> </td>
        <td> <b>From</b> </td>
        <td> <b>To</b> </td>
      </tr>
      </thead>

      <tbody>
      <% @routes.each do |r| %>
        <tr>
          <td> <%= r[:route].title %> </td>

          <td>
            <%= r[:departure_station].title %><br>
            <%= r[:departure_station].arrival_time_in(r[:route]) %>
          </td>

          <td>
            <%= r[:arrival_station].title %><br>
            <%= r[:arrival_station].departure_time_in(r[:route]) %>
          </td>

          <td> <%= link_to 'View trains', trains_on_route_route_path(r[:route]) %> </td>
        </tr>
      <% end %>
      </tbody>

    </table>

  <% else %>
    <p>There is no route</p>
  <% end %>
</div>