<p style="color: green"><%= notice %></p>

<h1>Routes</h1>

<div id="routes">
  <% @routes.each do |route| %>
    <%= render route %>
    <p>
      <%= link_to "Show", route %> |
      <%= link_to 'Update', edit_route_path(route) %> |
      <%= link_to "Delete", route, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_route_path %>
