<div id="<%= dom_id train %>">
  <p>
    <strong><%= t('.number') %></strong>
    <%= train.number %>
  </p>

  <%= link_to t('.show'), admin_train_path(train) %> |

  <%= link_to t('.update'), edit_admin_train_path(train) %>
  <div style="height: 8px;"></div>
  <%= button_to t('.delete'), admin_train_path(train), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
