<!DOCTYPE html>
<html>
<head>
  <title>RailsApplication</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="main center">
  <div class="header">
    <div class="profile">
      <% if user_signed_in? %>
        <p>Email: <%= current_user.email %></p>
        <p>Hello, <%= current_user.first_name %></p>
      <% end %>
    </div>
    <div class="login-link">
      <% if user_signed_in? %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path %>
      <% end %>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  <div style="height: 200px;"></div>
  <%= '-----------------------------------------' %>
  <p>(с) 2021 Konstantinov Alexander</p>
  <%= link_to 'Home', home_index_path %>
</div>
</body>
</html>
